*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: inter;
    src: url(asset/interFont.ttf);
}

.all-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.side-bar{
    /* background-color: cornflowerblue; */
    width: 17%;
    height: 80vh;
    position: fixed;
    top: 10%;
    display: flex;
    justify-content: center;
}

.container-sideBar ul li{
    list-style: none;
    text-align: end;
    font-size: 1.3rem;
    color: white;
    font-family: inter;
    font-weight: 250;
    /* background-color: rgba(255, 255, 255, 0.3); */
    width: 150%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-sideBar ul li a{
    text-decoration: none;
    color: white;
    font-family: inter;
    font-weight: 300;
    margin-right: 25%;
    transition: ease-in;
}

.container-sideBar{
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 10%;
    padding-top: 55%;
}

.container-sideBar ul{
    display: flex;
    flex-direction: column;
    gap: 6%;
}

.container-line{
    flex-basis: 30%;
}

.container-line img{
    width: 40%;
    /* height: 80%; */
}

.maps{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.teyvat{
    background-image: url(asset/AssetMaps/teyvatBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    /* scroll-snap-align: start; */
}

.container-teyvat{
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 80%;
}

.content-teyvat{
    /* background-color: darkgreen; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.vector-teyvat{
    /* background-color: chartreuse; */
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vector-teyvat img{
    width: 2%;
    height: 13%;
}

.judul{
    /* background-color: chocolate; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-family: inter;
    font-size: 5rem;
}

.garis-teyvat{
    /* background-color: goldenrod; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.garis-teyvat img{
    width: 10%;
    height: 50%;
}

.teks-teyvat{
    /* background-color: aqua; */
    width: 100%;
    height: 35%;
    text-align: center;
    font-family: inter;
    font-size: 1rem;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 250;
}

.section-maps{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.section-maps:nth-child(2){
    background-image: url(asset/AssetMaps/mondstadtBG.png);
}

.section-maps:nth-child(3){
    background-image: url(asset/AssetMaps/liyueBG.png);
}

.section-maps:nth-child(4){
    background-image: url(asset/AssetMaps/inazumaBG.png);
}

.section-maps:nth-child(5){
    background-image: url(asset/AssetMaps/sumeruBG.png);
}

.container-maps{
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 80%;
}

.content-maps{
    /* background-color: aquamarine; */
    width: 100%;
    height: 75%;
}

.logo-maps{
    /* background-color: cadetblue; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logo-maps img{
    width: 9%;
    height: 50%;
}

.judul-maps{
    /* background-color: darkslategray; */
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inter;
    color: white;
    font-size: 3.75rem;
    font-weight: 300;
    gap: 1%;
}

.judul-maps img{
    width: 8%;
    height: 12%;
}

.teks-maps{
    /* background-color: palevioletred; */
    width: 100%;
    height: 30%;
    text-align: center;
    font-family: inter;
    color: white;
    font-weight: 250;
    text-shadow: 0 0 10 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreInfo-maps{
    /* background-color: blueviolet; */
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreInfo-maps img{
    width: 5%;
    height: 55%;
}

.moreInfo-maps img:hover{
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
    filter: drop-shadow(0 0 8px white);
    transition: 200ms;
}

.more-info{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* display: flex; */
    justify-content: center;
    overflow: hidden;
    display: none;
}

.container-moreInfo{
    /* background-color: aqua; */
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

.header-moreInfo{
    /* background-color: chocolate; */
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.namaRegion{
    background-color: rgba(136, 136, 136, 0.5);
    width: 85%;
    height: 35%;
    color: white;
    font-family: inter;
    font-size: 2.188rem;
    display: flex;
    align-items: center;
    padding-left: 7%;
    font-weight: 350;
}

.exit-info{
    background-color: rgba(136, 136, 136, 0.5);
    width: 10%;
    height: 35%; 
    display: flex;
    justify-content: center;
    align-items: center;  
}

.exit-info img{
    width: 40%;
    height: 50%;
}

.content-info-container {
    width: 86%;
    height: 75%;
    overflow: scroll;
    padding-right: 1%;
    /* display: none; */
}

.content-info{
    /* background-color: darksalmon; */
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

.judul-content{
    /* background-color: aqua; */
    width: 100%;
    height: 15%;
    color: white;
    font-family: inter;
    font-size: 1.875rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10%;
}

.judul-content img{
    width: 100%;
    height: 5%;
}

.desc-content{
    /* background-color: brown; */
    display: flex;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    font-family: inter;
}

.gambar-content{
    width: 100%;
    height: fit-content;
}

.gambar-content img{
    width: 100%;
    height: auto;
}


