*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: genshin;
    src: url(asset/genshinFont.ttf);
}

@font-face {
    font-family: inter;
    src: url(asset/interFont.ttf);
}

.container-page{
    width: 100%;
    height: 100vh;
    background-image: url(asset/AssetCharacters/individualBG1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100vh;
    z-index: 3;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.char {
    /* background-color: antiquewhite; */
    width: 75%;
    height: 100%;
    z-index: 5;
    position: absolute;
    right: 0;
}

.kiri{
    /* background-color: rgba(255, 255, 255, 0.5); */
    width: 60%;
    height: 100%;
    z-index: 7;
}

.back{
    /* background-color: black; */
    width: 100%;
    height: 20%;
    display: flex;
    padding-left: 5%;
}

.back a{
    background-image: url(asset/AssetCharacters/back.png);
    /* background-color: pink; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;
    width: 7%;
    align-self: flex-end;
}

.info{
    /* background-color: cadetblue; */
    width: 100%;
    height: 70%;
    padding-left: 10%;
    padding-top: 5%;
}

.garis-atas{
    height: 1.5%;
    width: 30%;
    background-color: #CDA474;
    margin-bottom: 2%;
}

.nama{
    font-size: 4.688rem;
    font-family: genshin;
    color: white;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    letter-spacing: -3px;
}

.element{
    /* background-color: blue; */
    width: 50.5%;
    height: 11.55%;
    background-image: url(asset/AssetCharacters/bawahnama.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    font-family: inter;
    font-size: 1.25rem;
    color: black;
    font-weight: 350;
    letter-spacing: -1px;
}

.element-img{
    /* background-color: pink; */
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#element-logo{
    width: 60%;
    height: 60%;
}

.desc{
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    height: max-content;
    padding: 3%;
    display: flex;
    flex-direction: row;
}

.vector{
    flex-basis: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector-img{
    /* background-color: black; */
    width: 80%;
}

.text{
    font-family: inter;
    color: white;
    flex-basis: 95%;
    font-weight: 300;
    padding-left: 3%;
    font-size: 1.125rem;
    letter-spacing: -1px;
}

.tulisan-belakang{
    width: 100%;
    height: 100%;
    font-size: 30rem;
    /* z-index: 2; */
    font-family: genshin;
    color: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -25px;
    white-space: nowrap;
    overflow: hidden; 
}

.hitam{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 0;
}