*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: inter;
    src: url(asset/interFont.ttf);
}

.all-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.side-bar{
    /* background-color: cornflowerblue; */
    width: 17vw;
    height: 80vh;
    position: fixed;
    top: 70px;
    display: flex;
    justify-content: center;
}

.container-sideBar ul li{
    /* background-color: red; */
    list-style: none;
    text-align: end;
    font-size: 1.3rem;
    color: white;
    font-family: inter;
    font-weight: 250;
    /* background-color: rgba(255, 255, 255, 0.3); */
    width: 12vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-sideBar ul li a{
    /* background-color: blue; */
    text-decoration: none;
    color: white;
    font-family: inter;
    font-weight: 300;
    margin-right: 50px;
    transition: ease-in;
}

.container-sideBar{
    /* background-color: greenyellow; */
    flex-basis: 9.6px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    /* padding-right: 7px; */
    padding-top: 150px;
}

.container-sideBar ul{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 27px;
    /* margin-left: 1px; */
}

.container-line{
    /* background-color: orange; */
    flex-basis: 10px;
}

.container-line img{
    /* background-color: black; */
    width: 2vw;
    /* margin-right: 10px; */
    /* padding-top: 0px; */
    margin-left: -40px;
    /* height: 80%; */
}

.maps{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.teyvat{
    background-image: url(asset/AssetMaps/teyvatBG.png);
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    /* scroll-snap-align: start; */
}

.container-teyvat{
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 80%;
}

.content-teyvat{
    /* background-color: darkgreen; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.vector-teyvat{
    /* background-color: chartreuse; */
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vector-teyvat img{
    width: 2%;
    height: 13%;
}

.judul{
    /* background-color: chocolate; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-family: inter;
    font-size: 5rem;
}

.garis-teyvat{
    /* background-color: goldenrod; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.garis-teyvat img{
    /* background-color: blue; */
    width: 10%;
    height: 50%;
}



.teks-teyvat{
    /* background-color: aqua; */
    width: 100%;
    height: 25%;

    text-align: center;
    font-family: inter;
    font-size: 100%;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 250;
}

.section-maps{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.section-maps:nth-child(2){
    background-image: url(asset/AssetMaps/mondstadtBG.png);
}

.section-maps:nth-child(3){
    background-image: url(asset/AssetMaps/liyueBG.png);
}

.section-maps:nth-child(4){
    background-image: url(asset/AssetMaps/inazumaBG.png);
}

.section-maps:nth-child(5){
    background-image: url(asset/AssetMaps/sumeruBG.png);
}

.container-maps{
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 80%;
}

.content-maps{
    /* background-color: aquamarine; */
    width: 100%;
    height: 75%;
}

.logo-maps{
    /* background-color: cadetblue; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logo-maps img{
    /* background-color: red; */
    width: 9%;
    height: 50%;
}

.judul-maps{
    /* background-color: darkslategray; */
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inter;
    color: white;
    font-size: 400%;
    font-weight: 300;
    gap: 1%;
}

.judul-maps img{
    /* background-color: rebeccapurple; */
    width: 8%;
    height: 12%;
}

.teks-maps{
    /* background-color: palevioletred; */
    width: 100%;
    height: 20%;
    font-size: 100%;
    text-align: center;
    font-family: inter;
    color: white;
    font-weight: 250;
    text-shadow: 0 0 10 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreInfo-maps{
    /* background-color: blueviolet; */
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreInfo-maps img{
    width: 5%;
    height: 55%;
}

.moreInfo-maps img:hover{
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
    filter: drop-shadow(0 0 8px white);
    transition: 200ms;
}

.more-info{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* display: flex; */
    justify-content: center;
    overflow: hidden;
    display: none;
}

.container-moreInfo{
    /* background-color: aqua; */
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

.header-moreInfo{
    /* background-color: chocolate; */
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.namaRegion{
    /* background-color: red; */
    background-color: rgba(136, 136, 136, 0.5);
    width: 86%;
    height: 35%;
    color: white;
    font-family: inter;
    font-size: 2.188rem;
    display: flex;
    align-items: center;
    padding-left: 7%;
    font-weight: 350;
}

.exit-info{
    /* background-color: red; */
    background-color: rgba(136, 136, 136, 0.5);
    width: 10%;
    height: 35%; 
    display: flex;
    justify-content: center;
    align-items: center;  
}

.exit-info img{
    /* background-color: brown; */
    width: 40%;
    height: 50%;
}

.content-info-container {
    /* background-color: blue; */
    width: 86%;
    height: 75%;
    overflow: scroll;
    padding-right: 1%;
    /* display: none; */
}

.content-info{
    /* background-color: darksalmon; */
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

.judul-content{
    /* background-color: aqua; */
    width: 100%;
    height: 15%;
    color: white;
    font-family: inter;
    font-size: 1.875rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10%;
}

.judul-content img{
    /* background-color: yellow; */
    width: 100%;
    height: 5%;
}

.desc-content{
    /* background-color: brown; */
    display: flex;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    font-family: inter;
}

.gambar-content{
    width: 100%;
    height: fit-content;
}

.gambar-content img{
    width: 100%;
    height: auto;
}



/* MEDIA SCREENN */
@media screen and(max-width: 1440px){
    
}

@media screen and (max-width: 1024px){
    .judul{
        font-size:3.5rem;
    }

    .garis-teyvat img{
        height: 50%;
    }

    .teks-teyvat{
        font-size: 85%;
    }

    .logo-maps img{
        /* background-color: black; */
        width: 9%;
        height: 45%;
    }

    .judul-maps{
        font-size: 3rem;
    }

    .teks-maps{
        font-size: 85%;
        height: 20%;
    }

    .side-bar{
        /* background-color: brown; */
        width: 16vw;
        height: 70vh;
        top: 100px;
    }

    .container-sideBar ul li a{
        /* background-color: blue; */
        font-weight: 300;
        font-size: 70%;
        margin-right: 40px;

    }
    .container-sideBar ul li{
        /* background-color: wheat; */
        font-size: 130%;
        font-weight: 250;
        width: 14vw;
        height: 4vh;
        /* margin-left: px; */
        padding-left: 10px;
    }
    
    .container-sideBar{
        /* background-color: greenyellow; */
        flex-basis:50%;
        /* padding-right: 10px; */
        padding-top: 109px;
    }
    
    .container-sideBar ul{
        /* background-color: aqua; */
        gap: 24.3px;
    }
    
    .container-line{
        /* background-color: orange; */
        flex-basis: 15px;
    }
    
    .container-line img{
        /* background-color: black; */
        width: 2.2vw;
        margin-left: -30px;
        /* height: 80%; */
    }

    .moreInfo-maps img{
        width: 5%;
        height: 50%;
    }

    .exit-info{
        /* background-color: red; */
        /* background-color: rgba(136, 136, 136, 0.5); */
        width: 9%;
        height: 30%; 
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    
    .exit-info img{
        /* background-color: brown; */
        width: 39%;
        height: 50%;
    }
    
    .content-info-container {
        /* background-color: blue; */
        width: 86%;
        height: 75%;
        overflow: scroll;
        padding-right: 1%;
        /* display: none; */
    }
    
    .content-info{
        /* background-color: darksalmon; */
        width: 100%;
        height: 100%;
        /* overflow: auto; */
    }
    
    .judul-content{
        /* background-color: aqua; */
        width: 100%;
        height: 15%;
        color: white;
        font-family: inter;
        font-size: 1.875rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10%;
    }
    
    .judul-content img{
        /* background-color: yellow; */
        width: 100%;
        height: 5%;
    }
    
    .desc-content{
        /* background-color: brown; */
        display: flex;
        align-items: center;
        width: 100%;
        height: max-content;
        padding-top: 2%;
        padding-bottom: 2%;
        color: white;
        font-size: 1rem;
        font-weight: 300;
        font-family: inter;
    }
 
    .judul-maps img{
        /* background-color: rebeccapurple; */
        width: 8%;
        height: 12%;
    }

    .teks-maps{
        /* background-color: palevioletred; */
        width: 100%;
        height: 20%;
        font-size: 100%;
        text-align: center;
        font-family: inter;
        color: white;
        font-weight: 250;
        text-shadow: 0 0 10 rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .moreInfo-maps{
        /* background-color: blueviolet; */
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .moreInfo-maps img{
        width: 5%;
        height: 55%;
    }

    .moreInfo-maps img:hover{
        /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
        filter: drop-shadow(0 0 8px white);
        transition: 200ms;
    }

    .more-info{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        /* display: flex; */
        justify-content: center;
        overflow: hidden;
        display: none;
    }

    .container-moreInfo{
        /* background-color: aqua; */
        width: 60%;
        height: 100%;
        margin-left: 20%;
    }

    .header-moreInfo{
        /* background-color: chocolate; */
        width: 100%;
        height: 25%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .namaRegion{
        /* background-color: red; */
        width: 86%;
        height: 34%;
        font-size: 2.4rem;
        padding-left: 3%;
    }

    .exit-info{
        /* background-color: yellowgreen; */
        width: 9%;
        height: 34%; 
    }

    .exit-info img{
        /* background-color: brown; */
        width: 40%;
        height: 50%;
    }

    .content-info-container {
        /* background-color: blue; */
        width: 86%;
        height: 75%;
        padding-right: 2.5%;
    }

    .content-info{
        /* background-color: darksalmon; */
        width: 100%;
        height: 100%;
    }

    .judul-content{
        /* background-color: aqua; */
        width: 100%;
        height: 15%;
        font-size: 2rem;
        font-weight: 300;
        gap: 9%;
    }
    .desc-content{
        /* background-color: brown; */
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 768px){
    .judul{
        font-size:2.5rem;
    }
    .garis-teyvat img{
        width: 10%;
        height: 45%;
    }

    .teks-teyvat{
        font-size: 65%;
    }
    
    .logo-maps img{
        /* background-color: yellow; */
        width: 8.5%;
        height: 40%;
    }

    .judul-maps{
        /* background-color: darkslategray; */
            font-size: 2.2rem;
    }

    .judul-maps img{
        width: 8%;
        height: 10%;
    }
    
    .teks-maps{
        font-size: 65%;
        height: 19%;
    }

    .side-bar{
        /* background-color: brown; */
        width: 15vw;
        height: 70vh;
        top: 100px;
    }

    .container-sideBar ul li a{
        /* background-color: blue; */
        font-weight: 250;
        font-size: 65%;
        margin-right: 40%;
    }
    .container-sideBar ul li{
        /* background-color: red; */
        font-size: 115%;
        font-weight: 250;
        width: 120%;
        height: 8%;

    }
    
    .container-sideBar{
        /* background-color: greenyellow; */
        flex-basis:50%;
        /* padding-right: 10%; */
        padding-top: 70%;
    }
    
    .container-sideBar ul{
        /* background-color: aqua; */
        gap: 6.5%;
    }
    
    .container-line{
        /* background-color: orange; */
        flex-basis: 20%;
    }
    
    .container-line img{
        /* background-color: black; */
        width: 75%;
        margin-left: -10px;
        /* height: 80%; */
    }

    .moreInfo-maps img{
        width: 5%;
        height: 45%;
    }
    
    .namaRegion{
        /* background-color: red; */
        /* background-color: rgba(136, 136, 136, 0.5); */
        width: 86%;
        height: 34%;
        font-size: 1.9rem;
        padding-left: 3%;
    }

    .exit-info{
        /* background-color: yellowgreen; */
        /* background-color: rgba(136, 136, 136, 0.5); */
        width: 9%;
        height: 34%; 
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    .exit-info img{
        /* background-color: brown; */
        width: 40%;
        height: 50%;
    }

    .content-info-container {
        /* background-color: blue; */
        width: 86%;
        height: 75%;
        padding-right: 1%;
    }

    .content-info{
        /* background-color: darksalmon; */
        width: 100%;
        height: 100%;
    }

    .judul-content{
        /* background-color: aqua; */
        width: 100%;
        height: 15%;
        font-size: 1.5rem;
        font-weight: 300;
        gap: 9%;
    }

    .desc-content{
        /* background-color: brown; */
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 0.7rem;
    }

}

@media screen and (max-width: 426px){
    .judul{
        font-size:2rem;
        margin-top: 10%;
    }

    .garis-teyvat img{
        width: 15%;
        height: 30%;
    }

    .teks-teyvat{
        font-size: 45%;
    }
    .vector-teyvat img{
        /* background-color: red; */
        width: 2%;
        height: 9%;
    }

    .logo-maps img{
        /* background-color: red; */
        width: 10%;
        height: 25%;
    }

    .judul-maps{
        /* background-color: darkslategray; */
        height: 10%;
        font-size: 1.5rem;
    }

    .judul-maps img{
        width: 7.5%;
        height: 7%;
    }
    .teks-maps{
        font-size: 40%;
        height: 15%;
    }

    .side-bar{
        /* background-color: brown; */
        width: 17vw;
        height: 60vh;
        top: 100px;
    }

    .container-sideBar ul li a{
        /* background-color: blue; */
        font-weight: 250;
        font-size: 45%;
        margin-right:  30%;
    }
    .container-sideBar ul li{
        /* background-color: red; */
        font-size: 115%;
        font-weight: 250;
        width: 115%;
        height: 8%;

    }
    
    .container-sideBar{
        /* background-color: greenyellow; */
        flex-basis:50%;
        /* padding-right: 10%; */
        padding-top: 85%;
    }
    
    .container-sideBar ul{
        /* background-color: aqua; */
        gap: 5.35%;
    }
    
    .container-line{
        /* background-color: orange; */
        flex-basis: 20%;
    }
    
    .container-line img{
        /* background-color: black; */
        width: 95%;
        margin-left: -5px;
        /* height: 80%; */
    }

    .namaRegion{
        /* background-color: red; */
        /* background-color: rgba(136, 136, 136, 0.5); */
        width: 84%;
        height: 25%;
        font-size: 1.3rem;
        padding-left: 5%;
    }

    .exit-info{
        /* background-color: yellowgreen; */
        /* background-color: rgba(136, 136, 136, 0.5); */
        width: 10%;
        height: 25%; 
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    .exit-info img{
        /* background-color: brown; */
        width: 50%;
        height: 50%;
    }

    .content-info-container {
        /* background-color: blue; */
        width: 84%;
        height: 75%;
    }

    .content-info{
        /* background-color: darksalmon; */
        width: 100%;
        height: 100%;
    }

    .judul-content{
        /* background-color: aqua; */
        width: 100%;
        height: 12%;
        font-size: 1rem;
        font-weight: 300;
        gap: 9%;
    }

    .desc-content{
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 0.5rem;
    }

    .moreInfo-maps img{
        /* background-color: wheat; */
        width: 6%;
        height: 40%;
    }

}
