*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: genshin;
    src: url(asset/genshinFont.ttf);
}

@font-face {
    font-family: inter;
    src: url(asset/interFont.ttf);
}

.jumbotron{
    /* background-color: aquamarine; */
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.video{
    width: 100%;
    height: 100%;
    position: absolute;
}

.videoBG{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.content-jumbotron{
    z-index: 2;
}

.black-cover{
    /* background-color: aqua; */
    background-image: url(asset/blackCover.png);
    width: 100%;
    height: 100%;
    /* position: absolute; */
}

.content-jumbotron{
    /* background-color: dimgrey; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
}

.content-jumbotron-box{
    /* background-color: aqua; */
    width: 90%;
    height: 100%;
    font-family: genshin;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 20px rgba(0, 0,0, 0.5);
}

.start-journey{
    font-size: 2.188rem;
}

.open-world{
    margin-top: 0.5%;
    font-size: 1.125rem;
}

.platforms-jumbotron{
    /* background-color: black; */
    margin-top: 1%;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ps{
    background-image: url(asset/AssetHome/platformPS.png);
}

.platforms-jumbotron div{
    width: 23%;
    height: 70%;
    background-position: center;
    background-size: cover;
    border: rgba(255, 255, 255, 0.8) solid 1px;
    border-radius: 2%;
    background-color: rgba(12, 101, 175, 0.3);
    /* width: 122px;
    height: 41px;
    border: rgba(255, 255, 255, 0.8) solid 1px;
    border-radius: 2px;
    background-color: rgba(12, 101, 175, 0.3); */
}

.platforms-jumbotron div:hover{
    border: white solid 1px ;
    background-color: #0C65AF;
}

.app-store{
    background-image: url(asset/AssetHome/platformAppStore.png);
    /* width: 23%;
    height: 70%;
    background-position: center;
    background-size: cover;
    border: rgba(255, 255, 255, 0.8) solid 1px;
    border-radius: 2%;
    background-color: rgba(12, 101, 175, 0.3); */
}

.google-play{
    background-image: url(asset/AssetHome/platformGooglePlay.png);
    /* width: 23%;
    height: 70%;
    background-position: center;
    background-size: cover;
    border: rgba(255, 255, 255, 0.8) solid 1px;
    border-radius: 2%;
    background-color: rgba(12, 101, 175, 0.3); */
}

.windows{
    background-image: url(asset/AssetHome/platformWindows.png);
    width: 23%;
    height: 70%;
    background-position: center;
    background-size: cover;
    border: rgba(255, 255, 255, 0.8) solid 1px;
    border-radius: 2%;
    background-color: rgba(12, 101, 175, 0.3);
}

.new-character{
    background-image: url(asset/AssetHome/newCharacterBG.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.judul-character{
    /* background-color: saddlebrown; */
    width: 52%;
    height: 25%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* top: 0; */
}

.content-character{
    /* background-color: antiquewhite; */
    width: 80%;
    height: 65vh;
    position: relative;
    z-index: 3;
}

.char{
    width: 58%;
    height: 100%;
    /* background-color: pink;    */
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}




.kiri-char{
    width: 100%;
    height: 100%;
    /* background-color: gray;  */
    /* background-image: url(asset/AssetHome/dehyaImg.png); */
    background-repeat: no-repeat;
    background-size: contain ;
    background-position: left;
    position: relative;
}

.char:nth-child(1) .kiri-char{
    background-image: url(asset/AssetHome/dehyaImg.png);
}

.char:nth-child(2) .kanan-char{
    background-image: url(asset/AssetHome/mikaDesc.png);
    width: 68%;
    display: none;
    /* z-index: 2; */
}

/* #dehya:hover::after{
    display: block;
} */

/* #mik:hover #desc-mik{
    display: block;
} */

/* #dehya {
    overflow: hidden;
} */

#desc-deh{
    /* height: 100%;
    width: 100%;
    position: absolute;
    right: -80%;
    top: 0; */
    /* background-image: url(asset/AssetHome/dehyaDesc.png); */
    /* background-repeat: no-repeat;
    background-size: 100% ;
    display: none;
    background-position: right; */
}

.char:nth-child(1) .kanan-char{
    background-image: url(asset/AssetHome/dehyaDesc.png);
    /* display: none; */
    /* z-index: 2; */
}

.char:nth-child(2) .kanan-char{
    background-image: url(asset/AssetHome/mikaImg.png);
    /* width: 68.5%; */
}

.new-weapon{
    background-image: url(asset/AssetHome/newWeaponBG.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.black-cover{
    background-image: url(asset/blackCover.png);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.judul-weapon{
    /* background-color: saddlebrown; */
    width: 52%;
    height: 20%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    /* justify-self: center; */
}

.arrowLeft, .arrowRight{
    /* background-color: aquamarine; */
    width: 28%;
    height: 30%;
    display: flex;
    align-items: center;
}

.arrowLeft img{
    /* background-color: black; */
    width: 100%;
    height: 50%;
}

.title-feature{
    /* background-color: red; */
    font-family: inter;
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
}

.arrowRight img{
    /* background-color: blue; */
    width: 100%;
    height: 50%;
}

.content-weapon{
    /* background-color: aqua; */
    width: 80%;
    height: 67%;
    align-self: center;
    display: flex;
    z-index: 2;
}

.weapon-kiri{
    /* background-color: beige; */
    background-image: url(asset/AssetHome/weaponKiriBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.weapon-kanan{
    /* background-color: darkmagenta; */
    background-image: url(asset/AssetHome/weaponKananBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.weapon-kanan img{
    /* background-color: aqua; */
    width: 55%;
    height: 75%;
}

#weaponR:hover{
    transition: .2s ease-in;
    width: 65%;
    height: 85%;
}

.weapon-kiri img{
    width: 82%;
    height: 92%;
}

#weaponL:hover{
    transition: .2s ease-in;
    width: 95%;
    height: 105%;
}

.info-kiri, .info-kanan{
    /* background-color: aqua; */
    position: absolute;
    /* background-color: aqua; */
    width: 45%;
    height: 40%;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0 0 20px rgba(0, 0,0, 0.5);
    font-family: genshin;
    font-size: 2.188rem;
    display: flex;
    flex-direction: column;
}

.info-kiri img, .info-kanan img{
    height: 10%;
    width: 35%;
    /* background-color: black; */
}

/* dhuar */

.maps-char{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-maps-char{
    position: relative;
    /* background-image: url(asset/AssetHome/mondstadt.png); */
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-position: center;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid rgba(0, 0,0, 0.3) 7px;
}

.bg-maps-char:nth-child(1){
    background-image: url(asset/AssetHome/mondstadt.png);
}
.bg-maps-char:nth-child(2){
    background-image: url(asset/AssetHome/liyue.png);
}
.bg-maps-char:nth-child(3){
    background-image: url(asset/AssetHome/inazuma.png);
}
.bg-maps-char:nth-child(4){
    background-image: url(asset/AssetHome/sumeru.png);
}

#hover-img{
    width: 35%;
    height: 106%;
    justify-self: flex-end;
    right: 2%;
    display: none;
}

#garis-bawah{
    width: 10%;
    height: 10%;
    bottom: 27%;
    display: none;
}

.bg-maps-char:hover #hover-img, .bg-maps-char:hover #garis-bawah{
    transition: 300ms ease-out;
    display: block;
}

.bg-maps-char:hover{
    border: white solid 7px;
    transition: 300ms ease-out;
    background-size: 120% 120%;
}

.bg-maps-char img{
    /* background-color: aqua; */
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
}

.bg-maps-char:hover .hitam{
    transition: 300ms ease-out;
    /* border: white solid 7px; */
    opacity: 0;
}

.maps-char-center{
    background-image: url(asset/AssetHome/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: aqua; */
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: inter;
    font-size: 2.188rem;
    font-weight: 350;
    z-index: 2;
}

.comingsoon-char{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-comingsoon-char{
    position: relative;
    background-color: #111B20;
    background-image: url(asset/AssetHome/comingsoon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
    font-family: inter;
    font-size: 2.188rem;
    font-weight: 350;
} 

.container-character{
    height: 70%;
    width: 90%;
    background-color: #888888;
    display: flex;
}

.img-dehya{
    width: 50%;
    height: 100%;
    background-image: url(asset/AssetHome/dehyaImg.png);
    background-size: contain;
    background-position: center;    
    background-repeat: no-repeat;
}

.img-mika{
    width: 50%;
    height: 100%;
    background-image: url(asset/AssetHome/mikaImg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1025px){
    .platforms-jumbotron{
        margin-top: 1%;
        width: 50%;
        height: 20%;
    }

    .info-kiri, .info-kanan{
        font-size: 1.5rem;
    }

    .title-feature{
        font-size: 2rem;
    }

    .content-weapon{
        height: 55%;
    }


}

@media screen and (max-width: 770px) {
    .platforms-jumbotron{
        margin-top: 1%;
        width: 70%;
        height: 25%;
    }

    .info-kiri, .info-kanan{
        font-size: 1rem;
    }

    .title-feature{
        font-size: 1.5rem;
    }

    .content-weapon{
        height: 45%;
    }
}

@media screen and (max-width: 430px) {
    .platforms-jumbotron{
        margin-top: 1%;
        width: 90%;
        height: 15%;
    }

    .start-journey{
        font-size: 1.2rem;
    }
    
    .open-world{
        margin-top: 0.5%;
        font-size: 0.7rem;
    }

    .info-kiri, .info-kanan{
        font-size: 1rem;
    }

    .title-feature{
        font-size: 0.8rem;
    }

    .content-weapon{
        flex-direction: column;
        height: 80%;
        width: 100%;
        align-items: center;
    }

    .judul-weapon, .judul-character{
        height: 15%;
        width: 70%;
    }

    .weapon-kanan,.weapon-kiri{
        height: 70%;
        width: 80%;
    }

}