*{
    margin: 0;
    padding: 0;
}

.logo{
    background-color: aqua;
    background-image: url(asset/);
    background-size: cover;
    width: 100px;
    height: 100px;
}

@font-face {
    font-family: inter;
    src: url(asset/interFont.ttf);
}

body{
    font-family: inter;
}

.nav{
    display: flex;
}