*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Inter;
    src: url(asset/INTER\ FONT.ttf);
}

.header{
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8 );
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 2;
}

.tengah{
    display: flex;
    gap: 25px;
}

.tengah div{
    display: flex;
    align-items: center;
}

.tengah a{
    color: rgba(255, 255, 255, 0.8 );
    text-decoration: none;
    height: 9vh;
    display: flex;
    align-items: center;
    /* margin: -2px; */
    border: 2px solid transparent;
}

.tengah div a:hover{
    text-shadow: 0 0 20px #0C65AF;
    border-bottom: #0C65AF 2px solid;
    color: white;
    /* margin: -1px; */
}

.kiri div{
    font-weight: 400;
    font-size: 12px;
}

.lang:hover img{
    filter: drop-shadow(0 0 20px #0C65AF);
    opacity: 1;
}

.lang{
    display: flex;
    align-items: center;
}

.lang img{
    width: 35px;
    height: 35px;
    opacity: 0.8;
}

.kiri div:hover{
    color: white;
    text-shadow: 0 0 15px #0C65AF;
}

.kanan button{
    padding: 15px 40px;
    color: rgba(255, 255, 255, 0.8 );
    background-color: rgba(12, 101, 175, 0.3);
    border-radius: 2px;
    border: white solid;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
}

.kanan button:hover{
    background-color: #0C65AF;
    color: white;
}

.jumbotron{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
}

.black-cover{
    position: absolute;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#videoBG{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.isi-jumbotron{
    /* background-color: rebeccapurple; */
    z-index: 2;
    width: 100%;
    height: 30%;
}

@font-face {
    font-family: Genshin-Impact;
    src: url(asset/GENSHIN\ FONT.ttf);
}

.start-journey{
    /* background-color: brown; */
    font-family: Genshin-Impact;
    color: rgba(255, 255, 255, 0.95);
    font-size: 35px;
    margin-left: 10%;
}

.open-world{
    /* background-color: blue; */
    font-family: Genshin-Impact;
    color: rgba(255, 255, 255, 0.95); 
    font-size: 18px;
    margin-left: 10%;
}

.platforms{
    /* background-color: aquamarine; */
    display: flex;
    margin-top: 1%;
    margin-left: 10%;
    gap: 10px;
}

.platforms img{
    width: 122px;
    height: 41px;
}

.platforms div{
    width: 122px;
    height: 41px;
    border: rgba(255, 255, 255, 0.8) solid 1px;
    border-radius: 2px;
    background-color: rgba(12, 101, 175, 0.3);
}

.platforms div:hover{
    border: white solid 1px ;
    background-color: #0C65AF;
}






