*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------FONT---------- */
@font-face {
    font-family: Inter;
    src: url(assetLG/INTER\ FONT.ttf);
}

@font-face {
    font-family: Gen;
    src: url(assetLG/GENSHIN\ FONT.ttf);
}

/* ----------UTAMA---------- */
/* done */
.utama{
    width: 100%;
    height: 100vh;
    background-image: url("assetLG/REGISTER\ PAGE\ BACKGROUND1.png");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    display: flex;
    align-items: flex-end;
}

/* ----------KONTEN---------- */
/* done */
.konten{
    /* background-color: blue; */
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

/* ----------KIRI---------- */
/* done */
.kiri{
    /* background-color: green; */
    width: 45%;
    height: 100%;
}

/* Logo */
.logo{
    /* background-image: url("/assetLG/JENSHINIMPEKSLOGO4.png"); */
    /* background-color: orange; */
    width: 100%;
    margin-top: 18%;
    margin-left: -12%;

    max-width: 100%; 
    display:block; 
    height: auto;
}

/* text-logo */
.logo{
    /* background-image: url("/assetLG/JENSHINIMPEKSLOGO4.png"); */
    /* background-color: orange; */
    width: 100%;
    margin-top: 18%;
    margin-left: -12%;

    max-width: 100%; 
    display:block; 
    height: auto;
}

/* text-logo */
.text-logo{
    /* background-color: yellow; */
    font-family: Gen;
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: -8rem;
    max-width: 100%; 
    display:block; 
    height: auto;
}

.start{
    font-size: 3.4rem;
}

.the{
    font-size: 1.7rem;
}


/* ----------KANAN---------- */
/* done */
.kanan{
    background:rgba(255, 255, 255, 0.65);
    width: 45%;
    height: 100%;
    font-family: Inter;
}

.atas{
    /* background-color: grey; */
    width: 85%;
    height: 5%;
    margin-left: 7%;
    margin-top: 25%;
    align-items: center;
}

.panah{
    margin-top: -3rem;
    max-width: 100%; 
    display:block; 
    height: auto;
    display: flex;
    align-items: center;
}

.panah-judul{
    width: 100%;
}

.login{
    color: black;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.tengah{
    width: 85%;
    height: 48%;
    margin-left: 4rem;
    margin-top: 4rem;
}

.input-email{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
}

.input-name{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
}
.input-password{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
}
.input-age{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
}

form input{
    width: 100%;
    /* margin-bottom: 0.5%; */
    padding: 2% 2.5%;
    font-size: 1.1rem;
}

.cek{
    display: flex;
    width: 85%;
    margin-left: 7%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}

.cek1{
    /* background-color: blue; */
    width: 5%;
    height: 3vh;
    margin-top: 3%;
    text-align: left;
}
.errcek{
    display: flex;
    align-items: flex-start;
}

.cek2{
    /* background-color: red; */
    width: 26vw;
    height: 5vh;
    margin-top: 3%;
    margin-left: 1%;
    margin-bottom: 4%;
    text-align: left;
    font-size: 1rem;
}

#errorName{
    font-size: 0.9;
    margin-bottom: 3%;
    font-family: Inter;
}
#errorEmail{
    font-size: 0.9;
    margin-bottom: 3%;
    font-family: Inter;
}
#errorPass{
    font-size: 0.9;
    margin-bottom: 3%;
    font-family: Inter;
}
#errorAge{
    font-size: 0.9;
    margin-bottom: 3%;
    font-family: Inter;
}
#errorCheck{
    /* background-color: black; */
    margin-top: -6%;
    font-size: 0.9;
    height: max-content;
    margin-left: 1%;
    font-family: Inter;
}



.Playfor button{
    width: 100%;
    height: 3.4rem;
    color: white;
    background-color: black;
    margin-top: 2%;
    font-family: Inter;
    font-size: 1.3rem;
}

.bawah{
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 4%;
    width:85%;
    font-size: 1rem;
}

.return a{
    text-decoration: none;
    /* background-color: rebeccapurple; */
    color: black;
    font-weight: 500;
}






/* ----------MEDIA SCREEN---------- */

@media screen and (max-width: 1440px){
    .logo{
        width: 45rem;
        margin-left: -1.5rem;
        margin-top: 18rem;
    }
    .text-logo{
        margin-left: 10%;
    }
    .start{
        font-size: 2.5rem;
    }
    .the{
        font-size: 1.3rem;
    }

    .atas{
        width: 84%;
        margin-left: 8%;
        margin-top: 30%;
    }


    .login{
        /* margin-top: rem; */
        font-size: 2rem;
    }

    .tengah{
        width: 70%;
        height: 40%;
        margin-left: 3.5rem;
        margin-top: 4rem;
    }
    
    form input{
        /* background-color: white; */
        width: 100%;
        height: 5%;
        /* margin-bottom: 2%; */
        padding: 2% 2.5%;
        font-size: 1.1rem;
    }

    .cek1{
        /* background-color: blue; */
        width: 10%;
        height: 30%;
        margin-top: 3%;
        text-align: left;
    }

    .cek2{
        /* background-color: blue; */
        width: 200%;
        font-size: 0.9rem;
        margin-bottom: 1%;
    }

    .Playfor button{
        width: 100%;
        height: 3rem;
    }
    

    .bawah{
        width: 85%;
        font-size: 0.9rem;
        margin-left: 7%;
    }

    #errorName{
        font-size: 0.9;
        margin-bottom: 3%;
    }
    #errorEmail{
        font-size: 0.9;
        margin-bottom: 3%;
    }
    #errorPass{
        font-size: 0.9;
        margin-bottom: 3%;
    }
    #errorAge{
        font-size: 0.9;
        margin-bottom: 3%;
    }
    #errorCheck{
        /* background-color: black; */
        margin-top: -7%;
        font-size: 0.9;
        margin-bottom: 7%;
    }
    .return a{
        text-decoration: none;
        /* background-color: rebeccapurple; */
        color: black;
        font-weight: 500;
        font-size: 0.9rem;
        margin-left: -53%;
    }

}

@media screen and (max-width: 1024px){
    .logo{
        width: 40rem;
        margin-left: -4rem;
        margin-top: 14rem;
    }
    .text-logo{
        margin-left: 1%;
        margin-top: -15%;
    }
    .start{
        font-size: 2rem;
    }
    .the{
        font-size: 1rem;
    }

    .atas{
        width: 80%;
        margin-left: 9.5%;
        margin-top: 40%;
    }

    .login{
        font-size: 1.45rem;
    }

    .panah{
        margin-top: -1.6rem;
    }

    .tengah{
        width: 80%;
        height: 43%;
        margin-left: 9.5%;
        margin-top: 10%;
    }

    form input{
        width: 100%;
        height: 4%;
        font-size: 0.9rem;
    }

    .cek2{
        /* background-color: rebeccapurple; */
        width: 200%;
        font-size: 0.9rem;
    }

    .cek1{
        width: 5%;
        height: 0.5%;
        text-align: left;
    }

    .Playfor button{
        width: 100%;
        height: 2.5rem;
        font-size: 1rem;
    }

    .bawah{
        width: 80%;
        font-size: 0.7rem;
        margin-left: 3.4rem;
    }

    #errorName{
        font-size: 0.8rem;
    }
    #errorEmail{
        font-size: 0.8rem;
    }
    #errorPass{
        font-size: 0.8rem;
    }
    #errorAge{
        font-size: 0.8rem;
    }
    #errorCheck{
       font-size: 0.8rem; 
       margin-top: -1%;
    }
    .return a{
        font-size: 0.9rem;
        margin-left: -1%;
    }

}

@media screen and (max-width: 768px){
    .logo{
        width: 38rem;
        margin-left: -4rem;
        margin-top: 12rem;
    }
    .text-logo{
        margin-left: -2%;
        margin-top: -15%;
    }
    .start{
        font-size: 1.5rem;
    }
    .the{
        font-size: 0.8rem;
    }

    .atas{
        width: 89%;
        margin-left: 5%;
        margin-top: 40%;
    }

    .login{
        font-size: 1.5rem;
    }

    .panah{
        margin-top: -1.5rem;
    }

    .tengah{
        /* background-color: rebeccapurple; */
        width: 89%;
        height: 35%;
        margin-left: 5%;
    }

    form input{
        width: 100%;
        height: 4%;
        font-size: 0.7rem;
    }

    .cek1{
        width: 5%;
        height: 1%;
        margin-top: 1%;
        text-align: left;
    }


    .cek2{
        width: 200%;
        font-size: 0.65rem;
    }

    .Playfor button{
        width: 100%;
        height: 1.8rem;
        font-size: 0.65rem;
    }

    .bawah{
        /* background-color: red; */
        width: 25%;
        margin-top: 20%;
        /* font-size: 0.rem; */
        margin-left: 38%;
    }

    .bawah a{
        font-size: 0.65rem;
    }

    #errorName{
        font-size: 0.6rem;
    }
    #errorEmail{
        font-size: 0.6rem;
    }
    
    #errorPass{
        font-size: 0.6rem;
    }
    #errorAge{
        font-size: 0.6rem;
    }
    #errorCheck{
       font-size: 0.6rem; 
    }
    #errorCheck{
        font-size: 0.6rem; 
        margin-top: -1%;
    }

}

@media screen and (max-width: 426px){
    .konten{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .kanan{
        width: 12rem;
    }
    .text-logo{
        margin-left: 10%;
        margin-top: -20%;
    }
    .logo{
        width: 19rem;
        margin-left: 0.01rem;
        margin-top: 80%;
    }
    .start{
        margin-top: 0.5rem;
        margin-right: -2rem;
        font-size: 0.8rem;
    }
    .the{
        margin-right: -2rem;
        font-size: 0.4rem;
    }

    .atas{
        width: 85%;
        height: 3%;
        margin-left: 7.5%;
        margin-top: 75%;
    }

    .login{
        font-size: 0.9rem;
    }

    .panah{
        margin-top: -0.7rem;
    }

    .tengah{
        width: 85%;
        height: 25%;
        margin-left: 7.5%;
        margin-top: 10%;
    }

    form input{
        width: 100%;
        height: 4%;
        font-size: 0.5rem;
    }

    .cek1{
        width: 5%;
        height: 1%;
        margin-top: 1%;
        text-align: left;
    }

    .cek2{
        width: 200%;
        font-size: 0.55rem;
    }

    .Playfor button{
        width: 100%;
        height: 1.4rem;
        font-size: 0.55rem;
        /* margin-top: -%; */
    }

    .bawah{
        width: 70%;
        font-size: 0.35rem;
        margin-left: 7.5%
    }
    .bawah a{
        font-size: 0.55rem;
    }

    #errorName{
        font-size: 0.45rem;
    }
    #errorEmail{
        font-size: 0.345rem;
    }
    
    #errorPass{
        font-size: 0.45rem;
    }
    #errorAge{
        font-size: 0.45rem;
    }
    #errorCheck{
       font-size: 0.45rem;
       /* margin-top: 80%;  */
    }

}


